[user]
	email = caiom.elias@gmail.com
	name = Caio Elias
	signingkey = D7535BBBA37EF332
[color]
	ui = true
[core]
	autocrlf = input
	editor = nano
[merge]
	ff = false
[pull]
	rebase = true
[commit]
	gpgsign = true
